<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Heeheee, that tickles!</string>
	<string>Poke someone your own size.</string>
	<string>That hurts!</string>
	<string>Please don&apos;t do that again.</string>
	<string>Shaking is more pleaseant than poking, if you must know.</string>
	<string>Whoa, I&apos;m seeing double now.</string>
	<string>Hey, nobody said anything about poking me!</string>
	<string>I do believe I said &quot;shake me&quot;.</string>
	<string>Keep your finger out of my pupil... </string>
	<string>I&apos;m glad that you can follow instructions. 
SHAKE Me.</string>
	<string>Hey, if I were bigger and stronger than you, would you have the guts to do that?
I think not.</string>
	<string>How about brushing my hair instead of hurting me?</string>
	<string>Ouch!</string>
	<string>Ow!</string>
	<string>Do you have eydrops for me, now that you&apos;ve hurt me?</string>
</array>
</plist>
