<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Yes, I&apos;m just an eyeball. No, I am NOT boring.</string>
	<string>When I was your age, I had to roll miles in the snow to get to school.
I had frost-sight for months afterward.</string>
	<string>When I got glasses, they called me &quot;Two Eyes&quot;.</string>
	<string>I wish I had a unibrow. These eyebrows make me look bald.</string>
	<string>Look deep in to my eye... When I blink, you will awaken.</string>
	<string>Can an iBall become cross-eyed?</string>
	<string>I see deep into your future...</string>
	<string>An eyeball went to sea, sea, sea to see what he could see, see, see.</string>
	<string>I&apos;m an iBall, get it?</string>
	<string>Eye see you. </string>
	<string>Is that a bald spot or eyebrows up there?</string>
	<string>Take my word for it:
Quite while you&apos;re ahead. 
I didn&apos;t and look at me now.</string>
	<string>I have 10/10 vision.</string>
	<string>Your Uncle Fred has excellent foresight, insight and eyesight. </string>
	<string>Wha&apos;s that fuzzy stuff on my head? Is it cotton candy?</string>
	<string>Thankfully, I have eyelids. The other eyeball didn&apos;t make it...</string>
	<string>Yes, I got my iLids free with my iPod. </string>
	<string>If carrots are good for your eyes, why do snowmen put them in their noses?</string>
	<string>I was a good pupil at school.</string>
	<string>I never failed history. I have excellent hindsight.</string>
	<string>I&apos;m an eye for an i.</string>
	<string>The blind carpenter picked up his hammer and saw...</string>
	<string>My wife is named Iris.</string>
	<string>Am I making a spectacle of myself?</string>
	<string>Iris my case!</string>
	<string>Is it just me or are jokes about eyes getting cornea by the day?</string>
	<string>Eye Eye Cap&apos;n!</string>
	<string>Eye love Eye Scream!</string>
	<string>Eye&apos;m hungry...</string>
	<string>In case you didn&apos;t get it, I make jokes about eyes.</string>
	<string>I truly am magical, just like the iPad.</string>
	<string>Wanna see me do a trick? Comb my hair.</string>
	<string>Eye before &quot;e&quot;, always!</string>
	<string>Eye before &quot;e&quot; except after &quot;c&quot; and on weekends and holidays...</string>
	<string>Aint&apos; eye somethin&apos; else?</string>
	<string>I wish my hair would grow together already.
*oof* *oof* ...pant... ... ...</string>
	<string>I had a vision! er, a dream....
nevermind...</string>
	<string>Did you know that your brain combines the vision of each eye to create a &quot;complete&quot; image?</string>
	<string>Corrective eye surgery was allegedly discovered by a kid who crashed into a glass window while riding his bike.</string>
	<string>If you shake me enough, perhaps my eyebrows will combine...</string>
	<string>You can edit the things that appear here. Tap on the pen to find out more.</string>
	<string>Wanna find out more about Uncle Fred? Tap on the question mark in the corner.</string>
</array>
</plist>
